<!-- TAKE IN VARIABLES -->

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Meta Information -->
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/03_categories.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>


  </head>

  <body>

    <nav>
      <% include partials/_header %>
    </nav>

    <div id='categories-main'>
      <div id='categories-container-main'>
        <header id='categories-head' name='test'>
          <h2></h2>
          <!-- <h2>Categories: <%=restaurants[0].category%></h2> -->
        </header>
        <% restaurants.forEach(restaurant => { %>
          <a class='a<%=restaurant.restaurant_id%>' data-id='a<%=restaurant.restaurant_id%>' href="../restaurants/<%=restaurant.name%>" id='img-container'>
            <img src="<%=restaurant.image_url%>">
            <h3><%=(restaurant.name).toUpperCase()%></h3>
          </a>
        <% }) %>
      </div>
    </div>
    <div id="page">
      <h1 >CHOOSE YOUR STYLE</h1>
    </div>
    <% restaurants.forEach(restaurant => { %>
      <div class="side-content">
        <div id='a<%=restaurant.restaurant_id%>' class='side-content-container'>
          <div id="side-content-header">
            <img src="<%=restaurant.image_url%>">
          </div>
          <div id="side-content-title">
            <h2><%=(restaurant.name).toUpperCase()%></h2>
          </div>
          <div id="side-content-body">
            <p> <%=restaurant.description%>
            <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
            </p>
          </div>
          <div id="side-content-rating">
            <!-- <%=Math.round(restaurant.rating)%> -->
            <%=Number(restaurant.rating).toFixed(1)%>
          </div>
          <form class="side-content-to-menu" action="/restaurants/<%=restaurant.restaurant_id%>" method="GET">
            <input type="submit" value="MENU">
          </form>
          <div id="borderline-top">
            <br>
          </div>
          <div id="borderline-bottom">
            <br>
          </div>
        </div>
      </div>
    <% }) %>
  </body>

</html>
