<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Meta Information -->
    <title>Home Page</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/01_home_layout.css" type="text/css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" ">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
      <nav>
        <% include partials/_header %>
      </nav>
    <!-- <h1 class="title">Discover And Get Great Food</h1> -->

    <section id="search-page">
      <h1 class="title">Discover</h1>
      <div class="search-bar">
        <form
          class="form-inline"
          style="margin: 0px;"
          action="/home/"
          method="POST"
        >
          <div class="wowee input-group mb-3">
            <input
              type="text"
              class="search-text form-control"
              name="search"
              placeholder="Search Restaurants"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
              autofocus
            />
            <div class="input-group-append">
              <button
                class="search-button btn btn-outline-dark"
                type="submit"
              >
              <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
        <img src="img/arrowdownthin.svg" width='60px' height='60px'class="button-down">
<!-- 
        <button type="submit" class="categories-button btn btn-outline-dark">
          Give me a suggestion!
        </button> -->
      </div>
    </section>

    <!-- <h2 class="top-categories">Explore Top Categories</h2> -->

    <section id="categories-page">
      <div class="categories-box">
    <% for (let category of categories) { %>

        <div class="category" id="<%= category.name%>">
          <form
            style="margin: 0px;"
            action="/categories/<%= category.name%>""
            method="GET"
          >
         <!-- <img class="category-image" src= "<%= category.thumbnail_image%>"> -->
         <div>
            <div class="img-wrapper">
              <a href="/categories/<%= category.name%>">
                <img class="category-image" src= "<%= category.thumbnail_image%>">  
                <div id="text">
                  <%= category.name%>
                </div>     
                <!-- <i class="fa fa-arrow-right" style="font-size: 30px"></i> -->
                <div class="arrow-right" style="font-size: 45px; padding: .5em;">→</div>
              </a>
            </div>

          </div>
          </form>
        </div>
        
        <% } %>
      </div>
    </section>
  </body>
</html>
