<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Meta Information -->
    <title>Home Page</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/01_home_layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <section id="search-page">
      <div class="search-bar">
        <form
          class="form-inline"
          style="margin: 0px;"
          action="/home/"
          method="POST"
        >
          <div class="wowee input-group mb-3">
            <input
              type="text"
              class="search-text form-control"
              name="search"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button
                class="search-button btn btn-outline-dark"
                type="submit"
              >
                Search
              </button>
            </div>
          </div>
        </form>

        <button type="submit" class="categories-button btn btn-outline-dark">
          Give me a suggestion!
        </button>
      </div>
    </section>

    <section id="categories-page">
        <div class="categories-box">
    <% for (let i = 0 ; i < 4 ; i++) { %>

   
        <div class="category" id="<%= categories[i].name%>">
          <form
            class="form-inline"
            style="margin: 0px;"
            action="/categories/<%= categories[i].name%>""
            method="GET"
          >
            <button type="submit" class="category btn btn-outline-dark">
                <%= categories[i].name%>
            </button>
           <img src= "<%= categories[i].thumbnail_image%>">
            <%= categories[i].description %>
          </form>
        </div>
     
        <% } %>
      </div>
    </section>
  </body>
</html>
