<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Meta Information -->
    <title>Caterly - My Orders</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/06_my_orders.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav>
      <% include partials/_header %>
    </nav>
    <content>
      <div id="myorder-container">
        <header>
          <h2>My Orders</h2>
        </header>

        <table class="my-orders table table-bordered" >
          <thead class="thead-dark">
            <tr id="table-head">
              <th>Restaurant Name</th>
              <th>Ordered at</th>
              <th>Order</th>
              <th>Total</th>
              <th>Pickup Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% for (order of orders) { %>
              <th><%= order.name %></th>
              <th class="date-value"><%= formatDate(order.created_at) %></th>
              <th>
                  <div id="ex3" class="modal">
                      <div class="modal-flex">
                        <table class="my-orders table table-bordered order-information">
                          <thead class="thead-dark">
                            <tr id="table-head">
                              <th>Item Name</th>
                              <th>Item Quantity</th>
                            </tr>
                          </thead>
                        </table>
                      </div>
                    </div>
    
                    <p>
                      <a
                        data-name="<%= order.name %>"
                        data-date="<%= order.created_at %>"
                        data-total="<%= order.order_total %>"
                        data-pickup="<%= order.pickup_time %>"
                        class="view-myorder"
                        href="#ex3"
                        rel="modal:open"
                        >View Order</a
                      >
                    </p>
              </th>

              <th>$ <%= (order.order_total/1000).toFixed(2) %></th>

              <% if (order.pickup_time === "0") { %>

              <th>Waiting on confirmation from restaurant</th>

              <% } else { %>

              <th><%= formatDate(order.pickup_time) %></th>
              <% } %>
            </tr>

            <% } %>
          </tbody>
        </table>
      </div>
    </content>
  </body>
</html>
