<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Meta Information -->
    <title>Caterly - Restaurants Home</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/06_my_orders.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/01_home_layout.css" type="text/css" /> -->
    <link
      rel="stylesheet"
      href="/styles/09_home_restaurant.css"
      type="text/css"
    />
    <link
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet" ">

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ar-dz.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"
    />

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav>
      <% include partials/_header %>
    </nav>

    <content>
      <div id="myorder-container">
        <header>
          <h2>My Orders</h2>
        </header>

        <table class="my-orders table table-bordered">
          <thead class="thead-dark">
            <tr id="table-head">
              <th>Customer Name</th>
              <th>Ordered at</th>
              <th>Order</th>
              <th>Total</th>
              <th>Pickup Time</th>
            </tr>
          </thead>
          <tbody>
            <% for (order of orders) { %>
            <tr class="orders-row">
              <th class="orders-name"><%= order.customers_name %></th>
              <th class="date-value"><%= formatDate(order.created_at) %></th>
              <th>
                <div id="ex2" class="modal">
                  <div class="modal-flex">
                    <table class="my-orders table table-bordered order-information">
                      <thead class="thead-dark">
                        <tr id="table-head">
                          <th>Item Name</th>
                          <th>Item Quantity</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>

                <p>
                  <a
                    data-name="<%= order.customers_name %>"
                    data-date="<%= order.created_at %>"
                    data-total="<%= order.order_total %>"
                    data-pickup="<%= order.pickup_time %>"
                    data-customersid="<%= order.customerid %>"
                    class="view-order"
                    href="#ex2"
                    rel="modal:open"
                    >View Order</a
                  >
                </p>
              </th>

              <th class="order_total">
                $ <%= (order.order_total/1000).toFixed(2) %>
              </th>

              <% if(order.pickup_time === "0") { %>

              <th>
                <div id="ex1" class="modal">
                  <p>
                    Please enter the estimated time for the order in minutes :
                  </p>

                  <div class="modal-flex">
                    <form>
                      <input type="text" id="times" placeholder="0" />
                    </form>
                    <button
                      type="button"
                      class="restaurant-confirm btn btn-outline-dark"
                    >
                      <i class="fa fa-check-circle"></i>
                    </button>
                  </div>
                </div>

                <p class="estimated-time">
                  <a
                    href="#ex1"
                    rel="modal:open"
                    data-time="<%= order.created_at %>"
                    class="enter-timelink"
                    >Enter time</a
                  >
                </p>
              </th>
              <% } else { %>

              <th class="pickup_time"><%= formatDate(order.pickup_time) %></th>

              <% } %>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </content>
  </body>
</html>
